@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&display=swap');

$PrimaryFont: Montserrat;
$SecondaryFont: Lato;

.graphCard {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 30%;
    padding: 1.8rem 2.5rem;
    background-color: #fff;
    border-radius: 1rem;
}

.graphHeader {
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.heading {
    color: #000;
    font-family: $PrimaryFont;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
}

.period {
    color: #858585;
    font-family: $PrimaryFont;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
}

 .graph {
    // width: 90%;
    // height: 90%;
    margin-top: auto;
    width: 650px;
 }